
.body{
    width:800px;
}

.img-fluid1{
    padding-top:4rem;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    text-align: center;
}
/*.main-nav {*/
/*    margin-top: 2rem;*/
/*    margin-left: 8rem;*/
/*    display: flex;*/
/*    justify-content: space-around;*/
/*}*/
/*.main-nav li {*/
/*    margin-right: 10rem;*/
/*}*/

.main {
    
    display: flex;
    justify-content: space-around;
    padding-top: 150px; 
}


/*.center {*/
/*    border: 2px solid green;*/
/*    width: 60%;*/
/*}*/
/*.right-pane {*/
/*    border: 2px solid purple;*/
/*    width: 25%;*/
/*}*/
/*.left-pane {*/
/*    display: flex;*/
/*    justify-content: flex-start;*/
/*    border: 2px solid red;*/
/*    width: 15%;*/
/*}*/
/*footer {*/
/*    text-align: right;*/
/*}*/
/*.center h2 {*/
/*    text-align: center;*/
/*}*/
/*.right-pane h2 {*/
/*    text-align: center;*/
/*}*/