*{
    box-sizing:border-box;
}



body{
    
   
}
.banner-ke{
    
width:100%;
    
}

.suicide-awareness-box{
    display: flex;
}

.suicide-filter{
    padding: 5px;
    background-color: dimgray;
}

.middle-content{
 padding-left:40px;
 padding-right:40px;
 background-color: oldlace;
}
.p-ke{
    font-size: x-large;
    padding-left:70px;
    padding-right:70px;
    padding-bottom:30px;
    
}



.images{
    display:flex;
    flex-direction:column;
    
}
.learn-more{
    border: 1px solid black;
}

.learn-more h2{
    text-align:center;
    font-size: xx-large;
}

.men1-ke h2{
   font-size: xx-large; 
   text-align:center;
}
.list-ke li{
  font-size:xx-large;  
}


.suicide-image-1{
     
}

.suicide-image-2{
 
}